<div class="container">
  <main class="grid">
    <app-recipe-card
      (deleteButtonClick)="handleDeleteButtonClicked($event)"
      *ngFor="let recipe of recipes$ | async"
      [isAuthenticated]="isAuthenticated"
      [recipe]="recipe"
    ></app-recipe-card>
  </main>
  <app-footer
    (nextPageClick)="handleNextPageClicked()"
    (previousPageClick)="handlePreviousPageClicked()"
    *ngIf="paginated"
    [isFirstPage]="isFirstPage"
    [isLastPage]="isLastPage"
  ></app-footer>
  <a
    *ngIf="isAuthenticated"
    class="fab"
    color="primary"
    mat-fab
    routerLink="/recipes/create"
  >
    <mat-icon>add</mat-icon>
  </a>
</div>
