.article {
  padding: 2rem 5%;
  text-align: justify;
  line-height: 1.65;
}

.title {
  font-weight: bold;
}

.info {
  list-style-type: none;
  opacity: 0.5;
  padding: 0;
}

.image {
  display: block;
  max-width: 50%;
  border-radius: 5px;
}

.ingredients {
  list-style-type: none;
  padding: 0;
}

.ingredient {
  display: flex;
  align-items: center;
}

.icon {
  width: 25px;
}

.unit {
  text-transform: lowercase;
}
