.article {
  padding: 2rem 5%;
  text-align: justify;
  line-height: 1.65;
}

.title {
  font-weight: bold;
}

.info {
  list-style-type: none;
  opacity: 0.5;
  padding: 0;
}

.ingredients {
  list-style-type: none;
  padding: 0;
}

.ingredient {
  display: flex;
  align-items: center;
}

.icon {
  width: 25px;
}

.unit {
  text-transform: lowercase;
}

.comments {
  list-style-type: none;
  padding: 0;
}

.author {
  opacity: 0.5;
  font-weight: bold;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: flex-start;
  text-transform: uppercase;
}
